Source: ros-kinetic-denso-ros-control
Section: misc
Priority: extra
Maintainer: Shohei Fujii <fujii.shohei@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-manager, ros-kinetic-hardware-interface, ros-kinetic-joint-limits-interface, ros-kinetic-kdl-parser, ros-kinetic-roscpp, ros-kinetic-transmission-interface, ros-kinetic-urdf
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-denso-ros-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager, ros-kinetic-hardware-interface, ros-kinetic-joint-limits-interface, ros-kinetic-kdl-parser, ros-kinetic-roscpp, ros-kinetic-transmission-interface, ros-kinetic-urdf
Description: The denso_ros_control package
